* {
    color: white;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.background {
    background-color: pink;
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 50%;
    position: absolute;
    // opacity: 0.5;
    overflow: hidden;
}

.ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 100;

    .ringShadow {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        margin: 36px;
        box-shadow: inset 0px 0px 32px rgb(0, 0, 0);
        /* 圆环宽度 */
        // background:
        //     conic-gradient(from 0deg at 50% 50%,
        //         /* 从12点方向开始，中心点居中 */
        //         #dcdcdc 0deg,
        //         #333 45deg,
        //         #dcdcdc 90deg,
        //         #333 135deg,
        //         #dcdcdc 180deg,
        //         #333 215deg,
        //         #dcdcdc 270deg,
        //         #333 315deg,
        //         #dcdcdc 360deg);
        // mask:
        //     linear-gradient(#fff 0 0) content-box,
        //     linear-gradient(#fff 0 0);
        // mask-composite: exclude;
        // animation: rotate 300s linear infinite;
    }

    .metalRing {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 10px;
        /* 圆环宽度 */
        background:
            conic-gradient(from 0deg at 50% 50%,
                /* 从12点方向开始，中心点居中 */
                #dcdcdc 0deg,
                #333 45deg,
                #dcdcdc 90deg,
                #333 135deg,
                #dcdcdc 180deg,
                #333 215deg,
                #dcdcdc 270deg,
                #333 315deg,
                #dcdcdc 360deg);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
        animation: rotate 300s linear infinite;
    }

    .blackRing {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 36px;
        /* 圆环宽度 */
        background: rgb(18, 18, 18);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
        animation: rotate 300s linear infinite;
    }

    .blackRing::before {
        content: '';
        position: absolute;
        top: 36px;
        left: 36px;
        right: 36px;
        bottom: 36px;
        border-radius: 50%;
        background: radial-gradient(circle at center,
                transparent 0%,
                transparent 85%,
                rgba(0, 0, 0, 0.7) 100%);
        pointer-events: none;
    }
}

.content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 64px;
    border-radius: 50%;
    // background-color: white;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    gap: 24px;

}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}